// Import all the view styles
@import 'views/home/home.scss';
@import 'views/profile/profile.scss';


// Add any global app styles in this file
body {


  // My custom global styles


}

// Transition styles
.transition-horizontal {
  animation: transition-horizontal 0.5s ease-out;
}

.transition-vertical {
  animation: transition-vertical 0.5s ease-out;
}

@keyframes transition-horizontal {
  from { transform: translateX(100%) }
  to { transform: translateX(0%) }
}

@keyframes transition-vertical {
  from { transform: translateY(100%) }
  to { transform: translateY(0%) }
}

// View controller settings
._VIEWCONTROLLER_ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}